<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" lang="ja">
<head>
    <title>nav</title>
</head>
<body>
<nav th:fragment="navbar(page)" class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img class="img-fluid" src="/img/logo.png" alt="MIND LOG" style="height:auto; width:100px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <th:block th:if="${page} == 'todo'">
                        <a class="nav-link active" aria-current="page" href="/todo" th:text="#{html.todo.list.title}">timeline</a>
                    </th:block>
                    <th:block th:if="${page} != 'todo'">
                        <a class="nav-link" href="/todo" th:text="#{html.todo.list.title}">timeline</a>
                    </th:block>
                </li>
                <li class="nav-item">
                    <th:block th:if="${page} == 'timeline'">
                        <a class="nav-link active" aria-current="page" href="/timeline" th:text="#{html.timeline.title}">timeline</a>
                    </th:block>
                    <th:block th:if="${page} != 'timeline'">
                        <a class="nav-link" href="/timeline" th:text="#{html.timeline.title}">timeline</a>
                    </th:block>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>