.hover-gray:hover{
    background-color: #bfbfbf;
}

.gray{
    background-color: #bfbfbf !important;
}

.bg-logo{
    background-image: url("/img/logo-w.png");
    background-position: center;
    background-size: cover;
}