<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" lang="ja" class="h-100">
<head>
    <meta charset="UTF-8">
    <title th:text="#{html.timeline.title}">timeline</title>

    <link rel="icon" href="/img/favicon.ico">

    <link rel="stylesheet" href="/css/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>

    <script src="/js/timeline.js"></script>
    <script src="/js/HandlebarsHelpers.js"></script>
</head>
<body class="h-100 mh-100">
<div class="d-flex flex-column h-100">
    <header class="row z-2" style="height:10%">
        <div th:insert="~{layout/navbar::navbar('timeline')}"></div>
    </header>
    <div class="row d-flex flex-grow-1" style="height:90%">
        <div th:insert="~{layout/sideTodoMenu::sideTodoMenu('tl')}" class="col-3 d-flex flex-column h-100"></div>
        <div class="col d-flex flex-column h-100">
            <div class="row flex-grow-1 flex-shrink-1 overflow-y-scroll overflow-x-hidden flex-column-reverse">
                <ul id="timeline" class="list-group flex-column-reverse">
                    <li hx-ext="client-side-templates" hx-get="/api/timeline/list" hx-trigger="load"
                        hx-target="#timeline" handlebars-array-template="TlTemplate"></li>
                </ul>
                <div hx-ext="sse,client-side-templates" sse-connect="/api/timeline/sse" sse-swap="message"
                     hx-swap="afterbegin" hx-target="#timeline" handlebars-template="newTlTemplate"></div>
            </div>
            <div class="row card gray" style="width:99%">
                <form hx-post="/api/timeline/post" hx-ext='json-enc' hx-trigger="submit" hx-swap="none"
                      hx-on::after-request="clearContentsTextarea()" th:object="${registerPostRequest}">
                    <div class="row">
                        <div class="col-2">
                            <div class="row">
                                <label class="col-auto col-form-label" for="taskId">
                                    <span th:text="#{RegisterPostRequest.task}">タスク</span>:
                                </label>
                                <div class="col">
                                    <select class="form-control" id="taskId" th:field="*{taskid}" hx-ext="client-side-templates"
                                            hx-get="/api/todo/list" hx-trigger="load" hx-swap="afterbegin"
                                            hx-target="#taskId" handlebars-array-template="OptTodoListTemplate">
                                        <template id="OptTodoListTemplate">
                                            <option value="" selected> - </option>
                                            {{#each todoList}}
                                            <option value="{{taskId}}">
                                                <p>{{taskName}}</p>
                                                <p>[[#{todo.taskStatus}]]：{{taskStatus.statusName}}</p>
                                                <p>[[#{todo.createDate}]]：{{createDate}}</p>
                                                <p>[[#{todo.deadline}]]：
                                                    {{#if deadline}} {{deadline}} {{else}} [[#{todo.notSet}]] {{/if}}
                                                </p>
                                                <p>[[#{todo.severity}]]：{{severity}}</p>
                                                {{#if parentId}}
                                                <p>[[#{todo.parent}]]：{{parentName}}</p>
                                                {{/if}}
                                            </option>
                                            {{/each}}
                                        </template>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                        <textarea class="form-control" id="contentsForm" th:field="*{contents}"
                                  minlength="1" maxlength="500" required rows="1"></textarea>
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-primary" th:text="#{html.timeline.submit}">投稿</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<template id="TlTemplate">
    {{#each tlList}}
    <li class="list-group-item">
        <div>
            <div class="row">
                <div class="col-2">
                    <span class="fw-lighter">{{createdate}}</span>
                </div>
                <div class="col-1">
                    <span class="fw-lighter">{{dspname}}</span>
                </div>
                {{#if taskid}}
                <div class="col">
                    <a href="/todo/detail/{{taskid}}" class="fw-lighter fst-italic">{{taskname}}</a>
                </div>
                {{/if}}
            </div>
            <div class="row">
                <p>{{contents}}</p>
            </div>
        </div>
    </li>
    {{/each}}
</template>

<template id="newTlTemplate">
    <li class="list-group-item">
        <div>
            <div class="row">
                <div class="col-2">
                    <span class="fw-lighter">{{createdate}}</span>
                </div>
                <div class="col-1">
                    <span class="fw-lighter">{{dspname}}</span>
                </div>
                {{#if taskid}}
                <div class="col">
                    <a href="/todo/detail/{{taskid}}" class="fw-lighter fst-italic">{{taskname}}</a>
                </div>
                {{/if}}
            </div>
            <div class="row">
                <p>{{contents}}</p>
            </div>
        </div>
    </li>
</template>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
</body>
</html>