<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title th:text="#{html.todo.create.title}">Todo register</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/mustache@latest"></script>
</head>
<body>
<h1 th:text="#{html.todo.create.title}">Todo register</h1>

<div class="row">
    <div class="col-1"></div>
    <div class="col">
        <form  hx-post="/api/todo/new" hx-ext='json-enc' hx-trigger="submit" th:object="${registerTaskRequest}">
            <div class="g-3">
                <label class="form-label" for="taskName">
                    <span th:text="#{RegisterTaskRequest.taskName}">タスク名</span>:
                    <span class="badge text-bg-danger" th:text="#{html.form.required}">必須</span>
                </label>
                <input type="text" class="form-control is-valid" id="taskName" th:field="*{taskName}"
                    required minlength="2" maxlength="100">
                <div class="form-text" th:text="#{RegisterTaskRequest.validation.taskName}">
                    タスク名は２文字以上
                </div>
            </div>
            <div class="g-3">
                <label class="form-label" for="memo">
                    <span th:text="#{RegisterTaskRequest.memo}">メモ</span>:
                    <span class="badge text-bg-info" th:text="#{html.form.option}">任意</span>
                </label>
                <textarea class="form-control" id="memo" th:field="*{memo}"
                    maxlength="500"></textarea>
            </div>
            <div class="g-3">
                <label class="form-label" for="severity">
                    <span th:text="#{RegisterTaskRequest.severity}">重要度</span>:
                    <span class="badge text-bg-danger" th:text="#{html.form.required}">必須</span>
                </label>
                <select class="form-control" id="severity" th:field="*{severity}"
                        required>
                    <th:block th:each="severity : ${severityList}">
                        <option th:value="${severity.severity}">[[${severity.severityName}]]</option>
                    </th:block>
                </select>
            </div>
            <div class="g-3">
                <label class="form-label" for="deadline">
                    <span th:text="#{RegisterTaskRequest.deadline}">締切</span>:
                    <span class="badge text-bg-info" th:text="#{html.form.option}">任意</span>
                </label>
                <input type="date" class="form-control" id="deadline" th:field="*{deadline}">
            </div>
            <div class="g-3">
                <label class="form-label" for="parentId">
                    <span th:text="#{RegisterTaskRequest.parentId}">親タスク</span>:
                    <span class="badge text-bg-info" th:text="#{html.form.option}">任意</span>
                </label>
                <select class="form-control" id="parentId" th:field="*{parentId}" hx-ext="client-side-templates"
                        hx-get="/api/todo/list" hx-trigger="load"
                        hx-target="#parentId" mustache-array-template="OptTodoListTemplate">
                    <template id="OptTodoListTemplate">
                        <th:block th:if="${ptask != null}">
                            <option selected th:value="${ptask.taskId}">
                                <p th:text="${ptask.taskName}">タスク名</p>
                                <p th:text="|#{todo.taskStatus}：${ptask.taskStatus.statusName}|">状態：</p>
                                <p th:text="|#{todo.createDate}：${ptask.createDate}|">作成日：</p>
                                <p th:text="#{todo.deadline} + '：' + (${ptask.deadline != null}?${ptask.deadline} : '未設定')">期限：</p>
                                <p th:text="|#{todo.severity}：${ptask.severity.severityName}|">重要度：</p>
                                <p th:text="|#{todo.parent}：${ptask.parent.taskName}|" th:if="${ptask.parent.taskName}">親タスク名：</p>
                            </option>
                        </th:block>
                        <th:block th:if="${ptask == null}">
                            <option value="" selected> - </option>
                        </th:block>
                        {{#data.todoList}}
                        <option value="{{taskId}}">
                            <p>{{taskName}}</p>
                            <p>[[#{todo.taskStatus}]]：{{taskStatus.statusName}}</p>
                            <p>[[#{todo.createDate}]]：{{createDate}}</p>
                            <p>[[#{todo.deadline}]]：
                                {{#deadline}} {{deadline}} {{/deadline}}
                                {{^deadline}} [[#{todo.notSet}]] {{/deadline}}
                            </p>
                            <p>[[#{todo.severity}]]：{{severity}}</p>
                            {{#parentId}}
                            <p>[[#{todo.parent}]]：{{parentName}}</p>
                            {{/parentId}}
                        </option>
                        {{/data.todoList}}
                    </template>
                </select>
            </div>
            <div class="g-3">
                <button type="submit" class="btn btn-primary" th:text="#{html.todo.create.submit}">ToDo作成</button>
            </div>

        </form>
    </div>
    <div class="col-1"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>